.settings-wrapper{
	width: 220px;
}

.error-msg{
   	color: red;
	margin-top: 5px;
	width: 500px;
}

.spinner{
	height: 20px;
	width: 20px;
	background-image: url(../img/spinner.gif);
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
}

.ui-progressbar .ui-progressbar-value {
    background-color: rgb(89,147,180);
}

.ui-widget-header{
	background: none;
}